$teal: #00b8a9;
$beige: #f8f3d4;
$red: #f6416c;
$yellow: #ffde7d;
$deep-yellow: #ffcb31;

$pre-enrolled: #fdbc00;
$light-grey: #adadad;
$medium-grey: #5f5f5f;
$grey: #3a3939;

#debug-container {
  width: 100%;
  height: 100vh;

  display: grid;
  place-content: center;
  grid-row-gap: 1rem;

  text-align: center;

  button {
    border: solid 1px $grey;
    padding: 1rem;
  }
}
