$teal: #00b8a9;
$beige: #f8f3d4;
$red: #f6416c;
$yellow: #ffde7d;
$deep-yellow: #ffcb31;

$pre-enrolled: #fdbc00;
$light-grey: #adadad;
$medium-grey: #5f5f5f;
$grey: #3a3939;

#live-input-filter {
  position: fixed;
  left: 1rem;
  top: 2.7rem;

  background-color: $teal;

  padding: 1.1rem 1.5rem 1.1rem 1.5rem;

  box-shadow: 0 0 0.3rem 0.15rem rgba(0, 0, 0, 0.2);

  border-radius: 0 0 0.3rem 0.3rem;

  input {
    height: 2rem;

    max-width: 15rem;

    border: none;
    border-radius: 0.3rem;

    color: $grey;
    font-size: 1.2rem;
    text-align: center;

    padding: 0 0.5rem;
  }

  input:focus {
    outline: 2px solid $grey;
  }
}
