$teal: #00b8a9;
$beige: #f8f3d4;
$red: #f6416c;
$yellow: #ffde7d;
$deep-yellow: #ffcb31;

$pre-enrolled: #fdbc00;
$light-grey: #adadad;
$medium-grey: #5f5f5f;
$grey: #3a3939;

#staged-changes-container {
  position: fixed;
  bottom: 5rem;
  left: 0;

  padding: 1rem;

  background-color: $yellow;
  opacity: 1;

  box-shadow: 0.2rem 0.2rem 0.4rem rgba(0, 0, 0, 0.15);

  border: solid 1px $light-grey;
  border-left: none;
  border-radius: 0 0.3rem 0.3rem 0;

  display: grid;

  #all-records-container {
    scrollbar-width: none;

    background-color: $beige;

    border-radius: 0.3rem;

    padding: 0 0.5rem;

    max-height: 15.3rem;
    overflow-y: auto;

    display: grid;
    grid-row-gap: 0.3rem;
  }

  .button-container {
    margin: 1rem;
    margin-bottom: 0;

    display: grid;
    grid-auto-flow: column;
    justify-content: space-between;

    button {
      border: none;
      border-radius: 0.5rem;

      font-size: 1.2rem;
      color: #ffffff;

      padding: 0.5rem 1rem;

      cursor: pointer;
    }

    .clear-button {
      background-color: $light-grey;
    }

    .confirm-button {
      background-color: $teal;
    }
  }

  .record-container {
    display: grid;
    grid-template-columns: 9fr 7fr 9fr 6fr 10fr 2fr 10fr;
    grid-column-gap: 1rem;
    grid-auto-flow: column;
    justify-items: center;
  }
}
