$teal: #00b8a8;
$beige: #f8f3d4;
$red: #f6416c;
$yellow: #ffde7d;
$deep-yellow: #ffcb31;

$pre-enrolled: #fdbc00;
$light-grey: #adadad;
$medium-grey: #5f5f5f;
$grey: #3a3939;

#lifetime-data-section {
  grid-row: 1 / 3;

  display: grid;
  align-items: start;

  .lifetime-data-container {
    display: grid;
    padding: 1rem;
    grid-row-gap: 1rem;

    .section-divider {
      margin-top: 0.2rem;

      height: 1px;

      background-color: $light-grey;
    }

    .title-data-container {
      display: grid;
      grid-row-gap: 0.25rem;
      justify-items: center;

      .title {
        font-size: 0.9rem;
      }

      .data {
        font-size: 1.6rem;
      }

      .historical-data-container {
        font-size: 1rem;

        background-color: $yellow;

        padding: 0.4rem 1.4rem;

        border-radius: 99rem;

        display: grid;
        place-items: center;

        .date {
          font-size: 0.8rem;
          font-style: italic;
        }

        .data {
          font-size: 1rem;
        }

        &.match {
          background-color: $teal;

          color: #ffffff;

          .date,
          .data {
            font-weight: 500;
          }
        }
      }
    }
  }
}
