$teal: #00b8a9;
$beige: #f8f3d4;
$red: #f6416c;
$yellow: #ffde7d;

$pre-enrolled: #fdbc00;

$grey: #3a3939;
$light-grey: #adadad;
$lighter-grey: #f1f1f1;

.display-descriptors-container {
  font-size: 1rem;
  color: $grey;
  text-align: center;

  margin: 0.55rem 0 0 0;
  padding: 0;

  display: grid;
  justify-content: center;
  justify-items: center;

  ul {
    padding: 0;
    margin: 0;
  }
}

@media screen and (min-width: 450px) {
  .display-descriptors-container {
    font-size: 1.2rem;
  }
}
