$teal: #00b8a9;
$beige: #f8f3d4;
$red: #f6416c;
$yellow: #ffde7d;

$pre-enrolled: #fdbc00;
$light-grey: #adadad;
$lighter-grey: #f1f1f1;
$medium-grey: #5f5f5f;
$grey: #3a3939;

#journal-create-form {
  display: grid;
  grid-auto-flow: row;

  .journal-entry-header-container {
    margin-bottom: 0.4rem;
    padding: 0.5rem;

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: space-between;
    align-content: center;

    &.pre-enrolled {
      background-color: $pre-enrolled;
    }

    &.enrolled {
      background-color: $teal;
    }

    &.short-absence {
      background-color: $red;
    }

    &.long-absence {
      background-color: $grey;
    }

    .status {
      color: #ffffff;
      font-size: 1.3rem;
      font-weight: 500;
      justify-self: right;
    }
  }

  .journal-entry-body-container {
    padding: 0 1.5rem;

    form {
      display: grid;
      grid-auto-flow: row;

      label {
        margin-top: 0.7rem;
      }

      input,
      textarea,
      select {
        -webkit-text-fill-color: #000000;

        background-color: #ffffff;

        border: solid 1px #000000;
        border-radius: 0.3rem;

        font-size: 1.2rem;

        padding: 0.3rem;

        cursor: pointer;
      }

      select {
        background-color: rgb(235, 235, 235);
      }

      input[type="date"] {
        max-width: 11rem;
      }

      input[type="time"] {
        max-width: 5.5rem;
      }

      select {
        max-width: 11rem;
      }

      .instructor-container {
        justify-self: left;

        margin-top: 1.25rem;

        background-color: $beige;

        padding: 1rem 5rem 1rem 1rem;

        border-radius: 0.5rem;

        display: grid;
        grid-auto-flow: row;
        justify-content: left;
        align-items: center;
        grid-row-gap: 0.75rem;
        grid-column-gap: 0.5rem;

        label {
          grid-column: 2;

          margin-top: 0;
        }

        input {
          grid-column: 1;

          width: 1.25rem;
          height: 1.25rem;

          padding: 0;
        }
      }
    }
  }
}
