$teal: #00b8a9;
$beige: #f8f3d4;
$red: #f6416c;
$yellow: #ffde7d;

$pre-enrolled: #fdbc00;
$light-grey: #adadad;
$lighter-grey: #f1f1f1;
$medium-grey: #5f5f5f;
$grey: #3a3939;

#journal {
  .journal-entries-container {
    display: grid;

    .journal-entries-header-container {
      background-color: $light-grey;

      padding: 0.5rem;

      display: grid;
      grid-auto-flow: column;
      align-content: center;
      justify-content: space-between;

      &.pre-enrolled {
        background-color: $pre-enrolled;
      }

      &.enrolled {
        background-color: $teal;
      }

      &.short-absence {
        background-color: $red;
      }

      &.long-absence {
        background-color: $grey;
      }

      .journal-entries-title,
      .journal-entries-number {
        color: #ffffff;

        font-size: 1.3rem;
        font-weight: 500;
      }
    }

    .journal-entries-body-container {
      max-height: 500px;

      overflow-y: scroll;

      padding: 0.5rem;
      margin-bottom: 0.4rem;

      display: grid;
      grid-row-gap: 0.5rem;

      .journal-entry-container {
        border: solid 1px $light-grey;
        border-radius: 0.5rem;

        padding: 1rem;

        box-shadow: 0.1rem 0.2rem 0.2rem rgba(0, 0, 0, 0.2);

        cursor: pointer;

        font-size: 0.8rem;

        display: grid;

        .journal-entry-instructor-container {
          display: grid;
          grid-auto-flow: column;
          justify-content: start;

          div::after {
            content: "・";
          }

          div:last-child::after {
            content: "";
          }
        }
      }

      .loading-spinner-container {
        margin-top: -2.5rem;
      }
    }

    .journal-entries-footer-container {
      min-height: 1.8rem;

      background-color: $lighter-grey;

      border-top: solid 1px $light-grey;

      padding: 0.8rem 1rem;

      display: grid;

      .journal-entry-add-button {
        width: 1.8rem;
        height: 1.8rem;

        background-image: url("../img/plus_icon_grey.svg");
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
      }
    }
  }
}
