$teal: #00b8a9;
$beige: #f8f3d4;
$red: #f6416c;
$yellow: #ffde7d;
$deep-yellow: #ffcb31;

$pre-enrolled: #fdbc00;
$light-grey: #adadad;
$medium-grey: #5f5f5f;
$grey: #3a3939;

#creation-transfer-date-manual-input-section {
  display: grid;
  grid-row-gap: 0.5rem;
  justify-content: right;
  align-content: start;

  .section-header {
    grid-column: 1 / 3;
  }

  input {
    grid-column: 1 / 3;

    font-size: 1rem;
    font-weight: 400;

    background-color: #ffffff;

    border: solid 1px #000000;
    border-radius: 0.3rem;

    padding: 0.3rem;

    &.disable-clicks {
      pointer-events: none;
      user-select: none;
      background-color: $light-grey;
    }
  }

  input[type="date"] {
    min-width: 9rem;
  }

  select {
    grid-column: 1 / 3;

    font-size: 1rem;
    border-radius: 0.3rem;
    padding: 0.3rem;
    cursor: pointer;
    border: solid 1px #000;

    -webkit-text-fill-color: #000;
  }

  input,
  select {
    margin-left: 1rem;
  }

  input:focus,
  select:focus {
    outline: $grey solid 2px;
  }

  #invoice-year-dropdown,
  #invoice-month-dropdown {
    justify-self: right;
  }

  #invoice-year-dropdown {
    grid-column: 1;

    width: 5rem;
  }

  #invoice-month-dropdown {
    grid-column: 2;

    width: 3rem;

    margin-left: 0;
  }
}
