$teal: #00b8a9;
$beige: #f8f3d4;
$red: #f6416c;
$yellow: #ffde7d;
$deep-yellow: #ffcb31;

$pre-enrolled: #fdbc00;
$light-grey: #adadad;
$medium-grey: #5f5f5f;
$grey: #3a3939;

#customer-search-container {
  grid-column: 1;

  pointer-events: none;

  position: relative;

  display: grid;
  justify-content: space-between;
  grid-row-gap: 1rem;

  #customer-search {
    z-index: 1;

    grid-column: 1;
    grid-row: 1;

    align-self: start;

    width: 20rem;

    font-size: 1.2rem;
    font-weight: 400;

    background-color: #ffffff;

    border: solid 1px #000000;
    border-radius: 0.3rem;

    padding: 0.3rem;

    pointer-events: auto;

    &.disable-clicks {
      pointer-events: none;
      background-color: $light-grey;
    }
  }

  #customer-search:focus {
    -webkit-text-fill-color: #000000;

    outline: solid 2px $grey;
  }

  #customer-search-results {
    grid-column: 1;
    grid-row: 2;

    border: solid 1px #000000;

    opacity: 0.95;

    position: absolute;

    justify-self: left;

    padding-top: 0.2rem;
    margin-top: -0.2rem;

    pointer-events: auto;

    max-height: 20rem;

    background-color: #ffffff;

    overflow-y: scroll;

    /* allow scrolling but hide scrollbars */
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;

    /* Hide scrollbar for Chrome, Safari and Opera */
    &::-webkit-scrollbar {
      display: none;
      width: 0;
      height: 0;
    }

    /* Hide scrollbar for Firefox */
    scrollbar-width: none;

    /* Hide scrollbar for IE and Edge */
    -ms-overflow-style: none;

    display: grid;

    .customer-name-container {
      cursor: pointer;

      min-width: 20rem;

      padding: 0.4rem 0.3rem;

      &:hover {
        background-color: $beige;
      }

      &.selected-customer {
        background-color: $yellow;
      }
    }
  }

  #linked-customer-data-container {
    grid-column: 1;
    grid-row: 2;

    min-height: 10rem;
    min-width: calc(10rem * 1.618);

    background-color: $beige;

    padding: 0.5rem 0.75rem;

    border-radius: 0.3rem;
    border: solid 1px $light-grey;

    display: grid;
    align-content: start;

    .customer-name-container {
      margin-right: 5rem;

      display: grid;
      grid-template-rows: repeat(3, auto);

      .linked-customer-name-kanji {
        font-weight: 500;
      }

      .linked-customer-name-katakana {
        font-size: 0.8rem;
        color: $grey;
      }

      .linked-customer-name-romaji {
        font-size: 0.9rem;
        color: $grey;
      }
    }

    .linked-customer-post-code,
    .linked-customer-prefecture-city,
    .linked-customer-address-1,
    .linked-customer-address-2 {
      justify-self: right;

      font-size: 0.85rem;

      margin-left: 5rem;
    }
  }
}
