$teal: #00b8a9;
$beige: #f8f3d4;
$red: #f6416c;
$yellow: #ffde7d;

$pre-enrolled: #fdbc00;
$light-grey: #adadad;
$grey: #3a3939;

#invoice-status-all-toolbar {
  z-index: 3;
  position: fixed;
  top: 0;
  padding: 0 0.5rem;

  width: calc(100% - 1rem);
  height: 2.75rem;

  background-color: $teal;
  box-shadow: 0 0 0.3rem 0.3rem rgba(0, 0, 0, 0.2);

  display: grid;
  align-items: center;
  justify-content: start;
  grid-auto-flow: column;
  justify-content: space-between;
  grid-column-gap: 0.5rem;

  .toolbar-right-side-container {
    display: grid;
    grid-auto-flow: column;
    align-items: center;

    display: grid;
    grid-auto-flow: column;

    input.text-filter-input {
      height: 2rem;
      max-width: 15rem;

      border: none;
      border-radius: 0.3rem;

      color: $grey;
      font-size: 1.2rem;

      padding: 0 0.5rem 0 2.1rem;

      background-image: url("img/magnifying_glass.svg");
      background-position: 0.5rem 50%;
      background-repeat: no-repeat;
      background-size: auto 60%;
    }

    input.text-filter-input:focus {
      outline: $grey solid 2px;
    }

    select {
      background-color: #ffffff;

      border: solid 1px #000000;
      border-radius: 0.3rem;

      font-size: 1rem;

      padding: 0.3rem;
    }

    select.month-select {
      margin-left: 0.5rem;
    }

    select:focus {
      outline: $grey solid 2px;
    }

    button:focus {
      outline: none;
    }

    button:focus-visible {
      outline: $grey solid 2px;
    }

    .vertical-divider-thin {
      width: 1px;
      height: 100%;

      background-color: #ffffff;
      margin: 0 0.5rem;
    }

    .filter-results-button {
      justify-self: right;

      width: 2rem;
      aspect-ratio: 1 / 1;

      border: solid 2px #ffffff;
      border-radius: 0.3rem;

      margin-left: 0.5rem;

      background-image: url("img/refresh_icon.svg");
      background-position: 50% 50%;
      background-repeat: no-repeat;
      background-size: auto 65%;
    }

    .display-unissued-only-button,
    .display-unpaid-only-button {
      width: 2rem;
      aspect-ratio: 1 / 1;

      border: solid 1px #ffffff;
      border-radius: 0.3rem;

      background-color: pink;
    }

    .display-unpaid-only-button {
      margin-left: 0.5rem;
    }

    .number-of-results {
      width: 4.1rem;

      text-align: center;

      margin-left: 0.5rem;

      color: #ffffff;
      font-size: 1.1rem;
      font-weight: 500;
    }
  }
}

/* prevents clicks to the toolbar before API call is complete */
#invoice-status-all-toolbar.disable-toolbar-buttons {
  pointer-events: none;
}
