$teal: #00b8a9;
$beige: #f8f3d4;
$red: #f6416c;
$yellow: #ffde7d;

$pre-enrolled: #fdbc00;
$light-grey: #adadad;
$grey: #3a3939;

#invoice-status-all-toolbar {
  z-index: 3;
  position: fixed;
  top: 0;
  padding: 0 0.5rem;

  width: calc(100% - 1rem);
  height: 2.75rem;

  background-color: $teal;
  box-shadow: 0 0 0.3rem 0.3rem rgba(0, 0, 0, 0.2);

  display: grid;
  align-items: center;
  justify-content: start;
  grid-auto-flow: column;
  justify-content: space-between;

  .toolbar-right-side-container {
    display: grid;
    grid-auto-flow: column;
    grid-column-gap: 1rem;
    align-items: center;

    .year-month-container {
      display: grid;
      grid-auto-flow: column;
      grid-column-gap: 0.5rem;

      select {
        background-color: #ffffff;

        border: solid 1px #000000;
        border-radius: 0.3rem;

        font-size: 1rem;

        padding: 0.3rem;
      }

      select:focus {
        outline: $grey solid 2px;
      }
    }

    .issued-filter-button,
    .paid-filter-button {
      width: 2rem;
      aspect-ratio: 1 / 1;

      border: solid 1px #ffffff;
      border-radius: 0.3rem;

      background-color: pink;
    }
  }
}

/* prevents clicks to the toolbar before API call is complete */
#invoice-status-all-toolbar.disable-toolbar-buttons {
  pointer-events: none;
}
