$teal: #00b8a9;
$beige: rgb(248, 243, 212);
$red: rgb(246, 65, 108);
$yellow: rgb(255, 222, 125);
$deep-yellow: #ffcb31;

$pre-enrolled: rgb(253, 188, 0);
$light-grey: rgb(173, 173, 173);
$medium-grey: rgb(95, 95, 95);
$grey: rgb(58, 57, 57);

$over-300px-rem: 1.5rem;
$over-300px-vw: 15vw;
$over-600px-rem: 2.3rem;
$over-600px-vw: 6.75vw;
$over-900px-rem: 2.3rem;
$over-900px-vw: 4.5vw;
$over-1200px-rem: 2.9rem;
$over-1200px-vw: 3.3vw;

#at-risk-students {
  display: grid;

  .data-container {
    display: grid;
    grid-row-gap: 0.75rem;
    grid-auto-flow: row;

    .student-container {
      display: grid;

      .student-name-kanji {
        font-size: 1rem;
      }

      .student-name-katakana {
        font-size: 0.8rem;
      }

      .churn-probability {
        justify-self: right;
        align-self: center;

        border-radius: 0.3rem;

        padding: 0.1rem 0.5rem;

        font-size: 0.9rem;

        background-color: $yellow;

        grid-column: 2;
        grid-row: 1 / 3;
      }

      &.high-risk {
        .churn-probability {
          color: #ffffff;
          font-weight: 500;

          background-color: $red;
        }
      }
    }
  }

  .loading-spinner-container {
    margin-top: 0;
    margin-bottom: 4rem;
  }
}
