$teal: #00b8a9;
$beige: #f8f3d4;
$red: #f6416c;
$yellow: #ffde7d;
$deep-yellow: #ffcb31;

$pre-enrolled: #fdbc00;
$light-grey: #adadad;
$medium-grey: #5f5f5f;
$grey: #3a3939;

#incomplete-attendance-for-instructor {
  overflow-y: scroll;

  .dates-container {
    direction: rtl;

    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: auto repeat(4, 1fr);
    grid-column-gap: 2px;
    grid-row-gap: 2px;

    .day-of-week-title {
      font-size: max(0.7rem, 2.8vw);

      justify-self: center;

      margin-bottom: 0.3rem;
    }

    .date-record-container {
      background-color: rgba(248, 243, 212, 0.65);

      border: solid 2px $beige;

      padding: 0.3vw 0 1vw 0;

      border-radius: 5px;

      text-align: center;

      direction: ltr;

      display: grid;
      justify-content: center;

      &.is-workday {
        // background-color: $teal;
        background-color: rgba(0, 184, 169, 0.05);
        border: solid 2px $teal;
      }

      &.incomplete.is-workday {
        // background-color: hsl(346, 91%, 67%); /* light-red */
        background-color: rgba(247, 94, 130, 0.075);
        border: solid 2px hsl(346, 91%, 67%);
      }

      &.no-records.is-workday {
        // background-color: $yellow;
        background-color: rgba(255, 222, 125, 0.05);
        border: solid 2px $yellow;
      }

      .attendance-date,
      .complete-fraction {
        font-size: max(0.5rem, 2.8vw);
      }
    }
  }

  .loading-spinner-container {
    margin-top: -3rem;
  }
}

@media screen and (min-width: 600px) {
  #incomplete-attendance-for-instructor {
    .dates-container {
      .day-of-week-title {
        font-size: max(0.7rem, 1.6vw);
      }

      .date-record-container {
        padding: 0.15vw 0 0.5vw 0;

        .attendance-date,
        .complete-fraction {
          font-size: max(0.5rem, 1.6vw);
        }
      }
    }
  }
}

@media screen and (min-width: 900px) {
  #incomplete-attendance-for-instructor {
    .dates-container {
      .day-of-week-title {
        font-size: max(0.7rem, 1.1vw);
      }

      .date-record-container {
        padding: 0.07vw 0 0.3vw 0;

        .attendance-date,
        .complete-fraction {
          font-size: max(0.6rem, 1.1vw);
        }
      }
    }
  }
}

@media screen and (min-width: 1200px) {
  #incomplete-attendance-for-instructor {
    .dates-container {
      .day-of-week-title {
        font-size: max(0.7rem, 0.8vw);
      }

      .date-record-container {
        padding: 0 0 0.15rem 0;

        .attendance-date,
        .complete-fraction {
          font-size: max(0.6rem, 0.8vw);
        }
      }
    }
  }
}

@media screen and (min-width: 1500px) {
  #incomplete-attendance-for-instructor {
    .dates-container {
      .day-of-week-title {
        font-size: max(0.7rem, 0.6vw);
      }

      .date-record-container {
        .attendance-date,
        .complete-fraction {
          font-size: max(0.6rem, 0.6vw);
        }
      }
    }
  }
}

@media screen and (min-width: 1800px) {
  #incomplete-attendance-for-instructor {
    .dates-container {
      .day-of-week-title {
        font-size: 0.7rem;
      }

      .date-record-container {
        .attendance-date,
        .complete-fraction {
          font-size: 0.6rem;
        }
      }
    }
  }
}
