$teal: #00b8a9;
$beige: #f8f3d4;
$red: #f6416c;
$yellow: #ffde7d;
$deep-yellow: #ffcb31;

$pre-enrolled: #fdbc00;
$light-grey: #adadad;
$medium-grey: #5f5f5f;
$grey: #3a3939;

#student-churn {
  grid-row: 2;

  .student-churn-data-container {
    max-width: calc(100vw - 4rem);
    min-height: 20rem;
  }

  .loading-spinner-container {
    margin-top: 0;
    margin-bottom: 4rem;

    place-self: center;
  }
}

@media screen and (min-width: 600px) {
  #student-churn {
    grid-row: 2;
    grid-column: 1 / 3;
  }
}

@media screen and (min-width: 900px) {
  #student-churn.component-primary-container {
    grid-row: 1 / 14;
    grid-column: 2 / 4;
  }
}

@media screen and (min-width: 1200px) {
  #student-churn.component-primary-container {
    grid-row: 1 / 4;
    grid-column: 2 / 4;
  }
}
