$teal: #00b8a9;
$beige: #f8f3d4;
$red: #f6416c;
$yellow: #ffde7d;
$deep-yellow: #ffcb31;

$pre-enrolled: #fdbc00;
$light-grey: #adadad;
$medium-grey: #5f5f5f;
$grey: #3a3939;

$over-300px-rem: 1.5rem;
$over-300px-vw: 15vw;
$over-600px-rem: 2.4rem;
$over-600px-vw: 8vw;
$over-900px-rem: 2.4rem;
$over-900px-vw: 5vw;
$over-1200px-rem: 3rem;
$over-1200px-vw: 3.5vw;

#total-active-students {
  .total-active-students-content-container {
    font-size: 0.9rem;

    display: grid;
    place-items: center;

    .data-container {
      grid-row: 1;
      grid-column: 1;

      margin-top: -0.8rem;

      display: grid;

      .current-count-container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-column-gap: 0.1rem;
        grid-auto-flow: column;
        align-items: baseline;

        .count {
          justify-self: center;
          grid-column: 2;

          font-size: max($over-300px-rem, $over-300px-vw);

          border-bottom: solid 2px $teal;

          &.under {
            border-bottom: solid 2px $pre-enrolled;
          }
        }

        .label {
          justify-self: left;
          grid-column: 3;

          font-size: max(calc($over-300px-rem / 3), calc($over-300px-vw / 3));
        }
      }

      .highest-count-container {
        color: $grey;

        display: grid;
        grid-template-columns: 1fr auto 1fr;
        grid-column-gap: 0.1rem;
        grid-auto-flow: column;
        align-items: baseline;

        .count {
          justify-self: center;
          grid-column: 2;

          font-size: max(calc($over-300px-rem / 2), calc($over-300px-vw / 2));
        }

        .label {
          justify-self: left;
          grid-column: 3;

          font-size: max(calc($over-300px-rem / 5), calc($over-300px-vw / 5));
        }
      }

      .highest-date {
        color: $grey;

        justify-self: center;

        font-size: max(calc($over-300px-rem / 3.5), calc($over-300px-vw / 3.5));
        font-style: italic;
      }
    }

    .chart-container {
      grid-row: 1;
      grid-column: 1;

      width: calc(100% - 1rem);
    }
  }

  .loading-spinner-container {
    margin-top: 0;
    margin-bottom: 3rem;

    place-self: center;
  }
}

@media screen and (min-width: 600px) {
  #total-active-students {
    .total-active-students-content-container {
      .data-container {
        .current-count-container {
          .count {
            font-size: max($over-600px-rem, $over-600px-vw);
          }

          .label {
            font-size: max(calc($over-600px-rem / 3), calc($over-600px-vw / 3));
          }
        }

        .highest-count-container {
          .count {
            font-size: max(calc($over-600px-rem / 2), calc($over-600px-vw / 2));
          }

          .label {
            font-size: max(calc($over-600px-rem / 5), calc($over-600px-vw / 5));
          }
        }

        .highest-date {
          font-size: max(
            calc($over-600px-rem / 3.5),
            calc($over-600px-vw / 3.5)
          );
        }
      }
    }
  }
}

@media screen and (min-width: 900px) {
  #total-active-students {
    grid-row: 2 / 4;

    .total-active-students-content-container {
      .data-container {
        .current-count-container {
          .count {
            font-size: max($over-900px-rem, $over-900px-vw);
          }

          .label {
            font-size: max(calc($over-900px-rem / 3), calc($over-900px-vw / 3));
          }
        }

        .highest-count-container {
          .count {
            font-size: max(calc($over-900px-rem / 2), calc($over-900px-vw / 2));
          }

          .label {
            font-size: max(calc($over-900px-rem / 5), calc($over-900px-vw / 5));
          }
        }

        .highest-date {
          font-size: max(
            calc($over-900px-rem / 3.5),
            calc($over-900px-vw / 3.5)
          );
        }
      }
    }
  }
}

@media screen and (min-width: 1200px) {
  #total-active-students {
    grid-row: 1;
    grid-column: 4;

    .total-active-students-content-container {
      .data-container {
        .current-count-container {
          .count {
            font-size: min($over-1200px-rem, $over-1200px-vw);
          }

          .label {
            font-size: min(
              calc($over-1200px-rem / 3),
              calc($over-1200px-vw / 3)
            );
          }
        }

        .highest-count-container {
          .count {
            font-size: min(
              calc($over-1200px-rem / 2),
              calc($over-1200px-vw / 2)
            );
          }

          .label {
            font-size: calc($over-1200px-vw / 5);
          }
        }

        .highest-date {
          font-size: min(
            calc($over-1200px-rem / 3.5),
            calc($over-1200px-vw / 3.5)
          );
        }
      }
    }
  }
}
