$teal: #00b8a9;
$beige: #f8f3d4;
$red: #f6416c;
$yellow: #ffde7d;
$deep-yellow: #ffcb31;

$pre-enrolled: #fdbc00;
$light-grey: #adadad;
$medium-grey: #5f5f5f;
$grey: #3a3939;

#invoice-list-all {
  margin-top: 2.75rem;

  #invoice-list-container {
    padding: 1rem;

    display: grid;
    grid-row-gap: 1rem;

    .invoice-container {
      padding: 1rem;
      padding-bottom: 0.5rem;

      border: 1px solid $grey;

      background-color: #ffffff;

      display: grid;
      grid-row-gap: 1rem;
      grid-template-columns: repeat(2, 1fr);

      .year-month {
        grid-row: 1;
        grid-column: 1;

        font-size: 1.3rem;
        font-weight: 500;
      }

      .customer-info-container {
        grid-row: 2;
        grid-column: 1;
      }

      .related-student {
        grid-row: 3;
        grid-column: 1;
      }

      .invoice-details-container {
        grid-row: 4;
        grid-column: 1;
      }

      .invoice-status-container {
        grid-row: 4;
        grid-column: 2;

        padding: 0 1rem;

        display: grid;
        align-items: center;
        grid-auto-flow: column;
        grid-column-gap: 1rem;
        grid-template-columns: repeat(2, 1fr);

        .invoice-issued-container,
        .invoice-paid-container {
          font-size: 1.2rem;

          border-radius: 0.8rem;

          display: grid;
          justify-content: space-between;
          align-content: center;
          align-items: center;
          grid-auto-flow: column;

          .status-text {
            margin: 0.75rem 1rem;
          }

          .date {
            margin: 0.35rem;
            padding: 0.35rem 1.3rem;

            border-radius: 0.4rem;
          }
        }

        .invoice-issued-container {
          border: solid 4px $deep-yellow;
        }

        .invoice-issued-container.issued {
          border: solid 4px $teal;
        }

        .invoice-paid-container {
          border: solid 4px $deep-yellow;
        }

        .invoice-paid-container.paid {
          border: solid 4px $teal;
        }
      }

      .invoice-items-container {
        grid-row: 5;
        grid-column: 1 / 3;

        padding: 0.75rem;

        border: solid 1px $light-grey;

        display: grid;
        grid-row-gap: 1rem;

        .invoice-item {
          display: grid;
          grid-auto-flow: column;
          grid-template-columns: 7fr 10fr 3fr 3fr 3fr 3fr;

          .invoice-item-number {
            justify-self: right;
          }
        }

        .column-header-container {
          font-weight: 500;
          border-bottom: solid 1px $light-grey;
          padding-bottom: 0.5rem;
          margin-bottom: 0.5rem;
        }
      }

      .subtotal-tax-total-container {
        justify-self: right;
        width: 15rem;

        grid-row: 6;
        grid-column: 2;

        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-column-gap: 3rem;
        justify-content: right;
        justify-items: right;
        align-items: end;

        .invoice-total {
          margin-top: 1rem;

          font-size: 1.2rem;
          font-weight: 500;
        }
      }

      .invoice-timestamps {
        grid-row: 7;
        grid-column: 1 / 3;

        border-top: solid 1px $light-grey;
        padding-top: 0.5rem;
        margin-top: 1rem;

        display: grid;
        grid-auto-flow: column;
        justify-items: center;
      }
    }
  }
}
