$teal: #00b8a9;
$beige: #f8f3d4;
$red: #f6416c;
$yellow: #ffde7d;
$deep-yellow: #ffcb31;

$pre-enrolled: #fdbc00;
$light-grey: #adadad;
$medium-grey: #5f5f5f;
$grey: #3a3939;

#invoice-list-all {
  margin-top: 2.75rem;

  #invoice-list-container {
    padding: 1rem;

    display: grid;
    grid-row-gap: 1rem;

    .invoice-container {
      padding: 1rem;

      border: 1px solid $grey;

      background-color: #ffffff;

      display: grid;
      grid-row-gap: 1rem;

      .year-month {
        grid-row: 1;
        grid-column: 1;

        font-size: 1.3rem;
        font-weight: 500;
      }

      .invoice-id {
        justify-self: right;

        font-size: 1.3rem;
        font-weight: 500;

        grid-row: 1;
        grid-column: 2;
      }

      .customer-info-container {
        grid-row: 2;
        grid-column: 1;
      }

      .related-student {
        grid-row: 3;
        grid-column: 1;
      }

      .invoice-details-container {
        grid-row: 4;
        grid-column: 1;
      }

      .invoice-status-container {
        grid-row: 4;
        grid-column: 2;
      }

      .invoice-items-container {
        grid-row: 5;
        grid-column: 1 / 3;

        margin: 2rem 0;
        padding: 0.75rem;

        border: solid 1px $light-grey;

        display: grid;
        grid-row-gap: 1rem;

        .invoice-item {
          display: grid;
          grid-auto-flow: column;
          grid-template-columns: 5fr 10fr 1fr 3fr 1fr;
        }
      }

      .invoice-timestamps {
        grid-row: 6;
        grid-column: 1 / 3;

        display: grid;
        grid-auto-flow: column;
      }
    }
  }
}
