$teal: #00b8a9;
$beige: #f8f3d4;
$red: #f6416c;
$yellow: #ffde7d;
$deep-yellow: #ffcb31;

$pre-enrolled: #fdbc00;
$light-grey: #adadad;
$medium-grey: #5f5f5f;
$grey: #3a3939;

#invoice-status-all {
  margin-top: 2.75rem;

  #display-descriptors-container {
    justify-self: center;

    font-size: 1.2rem;
    color: $grey;
  }

  #invoice-list-container {
    min-height: 110vh;

    padding: 1rem;
    padding-bottom: 15rem;

    display: grid;
    grid-row-gap: 1rem;
    align-content: start;

    .invoice-container {
      position: relative;

      padding: 1rem;
      padding-bottom: 0.5rem;

      border: 1px solid $grey;
      border-radius: 0.3rem;

      background-color: #ffffff;

      display: grid;
      grid-row-gap: 1rem;

      .display-student-only-button {
        position: absolute;
        top: 0;
        left: 20%;

        cursor: pointer;

        width: 2rem;
        height: 2rem;
        background-color: pink;
      }

      .invoice-header {
        font-size: 1.35rem;

        display: grid;
        grid-auto-flow: column;
        justify-content: center;
        grid-template-columns: repeat(3, 1fr);

        div {
          grid-row: 1;
        }

        .customer-name-katakana,
        .customer-name-romaji {
          font-size: 0.9rem;
        }

        .customer-name-katakana {
          grid-row: 2;
        }

        .customer-name-romaji {
          grid-row: 3;
        }

        .invoice-year-month {
          justify-self: center;
        }

        .invoice-total {
          justify-self: end;
        }
      }

      .invoice-status-container {
        padding: 0 1rem;

        display: grid;
        justify-items: center;
        grid-auto-flow: column;
        grid-column-gap: 1rem;
        grid-template-columns: repeat(3, 1fr);

        .invoice-creation-container,
        .invoice-issued-container,
        .invoice-paid-container {
          width: 100%;
          max-width: 20rem;

          color: #000000;

          font-size: 1.2rem;
          font-weight: 500;

          border-radius: 0.8rem;

          display: grid;
          justify-content: space-between;
          align-content: center;
          align-items: center;
          grid-auto-flow: column;

          .status-text {
            margin: 0.75rem 1rem;

            user-select: none;

            cursor: pointer;
          }

          input[type="date"].date-input {
            outline: none;
            border: none;

            background-color: #ffffff;

            color: #000000;
            font-size: 1.2rem;
            font-weight: 400;

            margin: 0.35rem;
            padding: 0.35rem 1.3rem;

            border-radius: 0.4rem;
          }

          input[type="date"].date-input:focus {
            outline: 2px solid $grey;
          }
        }

        .invoice-creation-container {
          background-color: $deep-yellow;
        }

        .invoice-creation-container.created {
          background-color: $teal;
        }

        .invoice-creation-container.updated {
          outline: 3px solid $red;
        }

        .invoice-issued-container {
          background-color: $deep-yellow;
        }

        .invoice-issued-container.issued {
          background-color: $teal;
        }

        .invoice-issued-container.updated {
          outline: 3px solid $red;
        }

        .invoice-paid-container {
          background-color: $deep-yellow;
        }

        .invoice-paid-container.paid {
          background-color: $teal;
        }

        .invoice-paid-container.updated {
          outline: 3px solid $red;
        }
      }

      .invoice-timestamps {
        border-top: solid 1px $light-grey;
        padding-top: 0.5rem;

        display: grid;
        grid-auto-flow: column;
        justify-content: end;
        grid-column-gap: 3rem;
      }
    }

    .invoice-container.updated {
      border: 1px solid $red;
      outline: 1px solid $red;
    }
  }
}

#overlay.active {
  z-index: 99;

  position: fixed;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  background-color: rgba(0, 0, 0, 0.3);
}
