$teal: #00b8a9;
$beige: #f8f3d4;
$red: #f6416c;
$yellow: #ffde7d;
$deep-yellow: #ffcb31;

$pre-enrolled: #fdbc00;
$light-grey: #adadad;
$medium-grey: #5f5f5f;
$grey: #3a3939;

#invoice-create {
  margin-top: 2.75rem;

  display: grid;
  justify-items: center;

  #customer-input-section {
    padding: 1rem;

    width: calc(100% - 2rem);
    max-width: calc(1100px - 2rem);

    display: grid;
    grid-row-gap: 1rem;

    .section-header {
      font-size: 0.9rem;
      color: $grey;
      text-align: right;

      border-bottom: solid 1px $grey;

      margin-bottom: 0.5rem;

      width: 100%;
    }
  }

  & .display-none {
    display: none;
  }
}
