$teal: #00b8a9;
$beige: #f8f3d4;
$red: #f6416c;
$yellow: #ffde7d;
$deep-yellow: #ffcb31;

$pre-enrolled: #fdbc00;
$light-grey: #adadad;
$medium-grey: #5f5f5f;
$grey: #3a3939;

#invoice-create {
  margin-top: 2.75rem;

  #input-section {
    padding: 1rem;

    display: grid;
    grid-row-gap: 1rem;

    #customer-manual-input-section {
      display: grid;

      #customer-postal-code {
        grid-row: 2;
      }

      #customer-prefecture {
        grid-row: 3;
      }

      #customer-city {
        grid-row: 4;
      }

      #customer-address-line-1 {
        grid-row: 5;
      }

      #customer-address-line-2 {
        grid-row: 6;
      }
    }
  }

  & .display-none {
    display: none;
  }
}
