$teal: #00b8a9;
$beige: #f8f3d4;
$red: #f6416c;
$yellow: #ffde7d;
$deep-yellow: #ffcb31;

$pre-enrolled: #fdbc00;
$light-grey: #adadad;
$medium-grey: #5f5f5f;
$grey: #3a3939;

#invoice-list-all {
  margin-top: 2.75rem;

  #invoice-list-container {
    padding: 1rem;

    display: grid;
    grid-row-gap: 1rem;

    .invoice-container {
      padding: 1rem;

      border: 1px solid $grey;

      background-color: #ffffff;

      .invoice-items-container {
        display: grid;
        grid-row-gap: 1rem;

        .invoice-item {
          padding: 1rem;

          border: solid 1px $grey;
        }
      }
    }
  }
}
