$teal: #00b8a9;
$beige: #f8f3d4;
$red: #f6416c;
$yellow: #ffde7d;
$deep-yellow: #ffcb31;

$pre-enrolled: #fdbc00;
$light-grey: #adadad;
$medium-grey: #5f5f5f;
$grey: #3a3939;

#invoice-list-all {
  margin-top: 2.75rem;

  height: calc(100vh - 2.75rem);
  overflow-y: scroll;

  #invoice-list-all-display-descriptors-container {
    margin: 0.55rem 0 0 0;
    padding: 0.5rem;

    font-size: 1rem;
    text-align: center;
    color: $grey;

    display: grid;
    justify-content: center;
    justify-items: center;
  }

  #invoice-list-container {
    padding: 1rem 1rem 15rem 1rem;

    display: grid;
    grid-row-gap: 1rem;
    justify-content: center;

    .invoice-container {
      position: relative;

      width: calc(100vw - 5rem);
      max-width: 1000px;

      padding: 1rem 1rem 2rem 1rem;

      border: 1px solid $grey;

      background-color: #ffffff;

      display: grid;
      grid-row-gap: 1rem;

      .display-student-only-button {
        position: absolute;
        top: 0;
        right: calc(1rem + 2rem + 0.5rem);

        cursor: pointer;

        width: 2rem;
        height: 2rem;

        border-radius: 0 0 0.6rem 0.6rem;
        border-top: none;

        box-shadow: 0 0.1rem 0.2rem rgba(0, 0, 0, 0.3);

        background-color: $teal;

        background-image: url("InvoiceStatusAll/img/isolate_icon.svg");
        background-size: 75% auto;
        background-position: 50% 50%;
        background-repeat: no-repeat;
      }

      .invoice-print-button {
        position: absolute;
        top: 0;
        right: 1rem;

        cursor: pointer;

        width: 2rem;
        height: 2rem;

        border-radius: 0 0 0.6rem 0.6rem;
        border-top: none;

        box-shadow: 0 0.1rem 0.2rem rgba(0, 0, 0, 0.3);

        background-color: $teal;

        background-image: url("InvoiceStatusAll/img/print_icon.svg");
        background-size: 65% auto;
        background-position: 50% 50%;
        background-repeat: no-repeat;
      }

      .year-month {
        grid-row: 1;

        font-size: 1.3rem;
      }

      .customer-info-container {
        font-size: 0.9rem;

        .customer-name {
          font-size: 1.1rem;

          margin-bottom: 0.2rem;
        }
      }

      .invoice-details-container {
        font-size: 0.9rem;
      }

      .invoice-status-container {
        display: grid;
        align-items: center;
        grid-row-gap: 1rem;

        .invoice-issued-container,
        .invoice-paid-container {
          font-size: 1rem;

          border-radius: 0.8rem;

          display: grid;
          justify-content: space-between;
          align-content: center;
          align-items: center;
          grid-auto-flow: column;

          .status-text {
            margin: 0.25rem 0.75rem;
          }

          .date {
            margin: 0.25rem 0.75rem;

            border-radius: 0.4rem;
          }
        }

        .invoice-issued-container {
          border: solid 4px $deep-yellow;
          background-color: #ffcb3115;
        }

        .invoice-issued-container.issued {
          border: solid 4px $teal;
          background-color: #00b8a915;
        }

        .invoice-paid-container {
          border: solid 4px $deep-yellow;
          background-color: #ffcb3115;
        }

        .invoice-paid-container.paid {
          border: solid 4px $teal;
          background-color: #00b8a915;
        }
      }

      .invoice-items-container {
        font-size: 0.5rem;

        margin: 1rem 0;

        display: grid;
        grid-row-gap: 1rem;

        .invoice-item {
          display: grid;
          grid-auto-flow: column;
          grid-column-gap: 0.2rem;
          grid-template-columns: 12fr 2fr 3fr 2fr 3fr;

          .independent-description {
            display: none;
          }

          .service-type {
            grid-row: 1;
          }

          .description {
            grid-row: 2;
          }

          .invoice-item-number {
            grid-row: 1;
            justify-self: right;
          }
        }

        .column-header-container {
          font-weight: 500;
          border-bottom: solid 1px $light-grey;
          padding-bottom: 0.5rem;
          margin-bottom: 0.5rem;
        }
      }

      .subtotal-tax-total-container {
        justify-self: right;

        font-size: 1rem;

        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-column-gap: 3rem;
        justify-content: right;
        justify-items: right;
        align-items: end;

        .invoice-total {
          margin-top: 0.7rem;

          font-size: 1.1rem;
        }
      }

      .invoice-timestamps {
        display: none;

        font-size: 0.8rem;

        border-top: solid 1px $light-grey;
        padding-top: 0.5rem;
        margin-top: 1rem;

        grid-auto-flow: column;
        justify-items: center;
      }
    }
  }
}

@media screen and (min-width: 350px) {
  #invoice-list-all {
    #invoice-list-container {
      .invoice-container {
        .display-student-only-button {
          width: 2.5rem;
          height: 2.5rem;

          right: calc(1rem + 2.5rem + 0.5rem);
        }

        .invoice-print-button {
          width: 2.5rem;
          height: 2.5rem;
        }

        .invoice-status-container {
          justify-content: left;

          .invoice-issued-container,
          .invoice-paid-container {
            grid-column-gap: 2rem;
          }
        }

        .invoice-items-container {
          font-size: 0.6rem;

          .invoice-item {
            grid-column-gap: 0.25rem;
          }
        }
      }
    }
  }
}

@media screen and (min-width: 400px) {
  #invoice-list-all {
    #invoice-list-all-display-descriptors-container {
      font-size: 1.1rem;
    }

    #invoice-list-container {
      .invoice-container {
        .year-month {
          font-size: 1.4rem;
        }

        .customer-info-container {
          font-size: 1rem;

          .customer-name {
            font-size: 1.15rem;
          }
        }

        .invoice-details-container {
          font-size: 1rem;
        }

        .invoice-items-container {
          font-size: 0.7rem;

          .invoice-item {
            grid-column-gap: 0.3rem;
          }
        }

        .subtotal-tax-total-container {
          font-size: 1rem;

          .invoice-total {
            font-size: 1.2rem;
          }
        }
      }
    }
  }
}

@media screen and (min-width: 450px) {
  #invoice-list-all {
    #invoice-list-container {
      .invoice-container {
        .display-student-only-button {
          right: calc(2rem + 2.5rem + 0.5rem);
        }

        .invoice-print-button {
          right: 2rem;
        }

        .invoice-items-container {
          font-size: 0.8rem;

          .invoice-item {
            grid-column-gap: 0.35rem;
          }
        }
      }
    }
  }
}

@media screen and (min-width: 500px) {
  #invoice-list-all {
    #invoice-list-all-display-descriptors-container {
      font-size: 1.2rem;

      text-align: left;

      padding: 0;
    }

    #invoice-list-container {
      .invoice-container {
        .display-student-only-button {
          right: calc(3rem + 2.5rem + 0.5rem);
        }

        .invoice-print-button {
          right: 3rem;
        }
        .invoice-items-container {
          font-size: 0.9rem;

          .invoice-item {
            grid-column-gap: 0.4rem;
          }
        }
      }
    }
  }
}

@media screen and (min-width: 550px) {
  #invoice-list-all {
    #invoice-list-container {
      .invoice-container {
        .invoice-status-container {
          grid-auto-flow: column;
          grid-column-gap: 1rem;

          .invoice-issued-container,
          .invoice-paid-container {
            width: 15rem;
          }
        }

        .invoice-items-container {
          font-size: 1rem;

          .invoice-item {
            grid-column-gap: 0.5rem;
          }
        }
      }
    }
  }
}

@media screen and (min-width: 700px) {
  #invoice-list-all {
    #invoice-list-container {
      .invoice-container {
        padding-bottom: 0.5rem;

        .invoice-timestamps {
          display: grid;
        }
      }
    }
  }
}

@media screen and (min-width: 800px) {
  #invoice-list-all {
    #invoice-list-container {
      .invoice-container {
        .invoice-timestamps {
          font-size: 0.9rem;
        }

        .invoice-items-container {
          .invoice-item {
            grid-template-columns: 12fr 12fr 2fr 3fr 2fr 3fr;
            grid-column-gap: 1rem;

            .description {
              grid-row: 1;
            }

            .combined-description {
              display: none;
            }

            .independent-description {
              display: inline;
            }
          }
        }
      }
    }
  }
}

/* For printing */
@media print {
  #invoice-list-all {
    display: none;
  }
}
