.filter-sort-menu-container {
  position: fixed;
  top: 0;

  margin: 0 auto;

  padding: 2.75rem 1rem 1rem 1rem;

  background-color: #fff;
  border: solid 1px #000;

  form {
    display: grid;
    grid-auto-flow: row;
  }
}
